:root {
  --sofia-primary: 277 59% 77%;
  --sofia-secondary: 258 100% 89%;
  --sofia-accent: 258 100% 96%;
  --sofia-success: 141 85% 42%;
  --sofia-warning: 35 100% 50%;
  --sofia-error: 0 100% 50%;
  --sofia-surface: 0 0% 100%;
  --sofia-background: 260 100% 99%;
  --sofia-text: 0 0% 0%;
}

.dark {
  --sofia-primary: 277 59% 47%;
  --sofia-secondary: 258 100% 89%;
  --sofia-accent: 258 20% 12%;
  --sofia-surface: 260 17% 16%;
  --sofia-background: 260 20% 10%;
  --sofia-text: 0 0% 100%;
}
